# python venv
backend/env/

# db connection config files
backend/config.ini
backend/app/config.ini
# pycache
backend/__pycache__

backend/app/__pycache__
backend/app/routers/__pycache__

backend/UserCaptionFiles/*